/* Global Section */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

button {
  cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.nav-links a {
    color: #E5E7EB;
}

/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 48px 16px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px; 
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}
.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
}

.hero img {
    width: 400px;
    height: auto;
}

/* Featuers Section */
.features {
    padding: 48px 16px;
}

.features h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 250px;
    text-align: center;
}

/* Quote Section */
.quote {
    background-color: #E5E7EB;
    padding: 80px 16px;
}

.quote-container {
    max-width: 800px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
    color: #1F2937;
}

/*  CTA Seciton */
.call-to-action {
    padding: 64px 16px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
}

.cta-text h2 {
    margin: 0;
}

.cta-text p {
  margin: 8px 0 0;
  color: #E5E7EB;
}

.call-to-action button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
}

/* Footer Section */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 24px;
}

.footer p {
  margin: 0;
}